.form, .form div {
    display: flex;
    flex-direction: column;
}

.form {
    align-self: center;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form div {
    width: 100%;
    margin: 0.5rem;
}

.form div label {
    padding-bottom: 0.5rem;
}

.form input {
    padding: 0.5rem;
}

.form textarea {
    height: 4rem;
}

.radio-input {
    display: flex;
    flex-direction: row !important;
}

.radio-input div {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.checkbox-input {
    margin-right: 0.5rem;
}

.checkbox-field {
    flex-direction: row !important;
}

.form button {
    align-self: flex-start;
}

.error-container {
    width: 75%;
    align-self: center;
}

.error-container label {
    padding-bottom: 0 !important;
}